*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
width: 100%;
height: 10vh;
background: gold;
color: white;
display: flex;
align-items: center;
justify-content: space-around;
}
.container{
display: flex;
gap: 40px;
list-style: none;
}